#SectionComponent
    input, textarea
        display: block
        width: 100%
        resize: none

        &.invalid
            box-shadow: 0 0 10px red !important

    // stili standard
    .v, .vignetta
        margin: 0 2rem
        color: black
        background: white
        border: 0.2rem solid black
    .vd, .vignetta-destra
        margin-left: 4rem
        color: black
        background: white
        border: 0.2rem solid black
    .vs, .vignetta-sinistra
        margin-right: 4rem
        color: black
        background: white
        border: 0.2rem solid black
                
    // fumetto
    .fd, .fumetto-destra
        width: fit-content
        max-width: 100%
        margin-left: auto
        border-width: 0.1rem 
        border-radius: 1.5rem
        border-top-right-radius: 0
    .fs, .fumetto-sinistra
        width: fit-content
        max-width: 100%
        margin-right: auto
        border-width: 0.1rem 
        border-radius: 1.5rem
        border-top-left-radius: 0

    .full
        margin: 0 0.5rem
        padding-bottom: 1rem
        color: black
        background: white
        border: 0.2rem solid black
    .full-foot
        margin-left: 2rem
        margin-right: 4rem
        color: black
        background: white
        border: 0.2rem solid black
        transform: translateY(-2rem)
    
    div:has(.spazio-schermo)
        padding-bottom: 40vh
