#chapter
    input:not([disabled]), textarea:not([disabled])
        box-shadow: 0 0 10px blue !important

        &:focus
            outline: 1px solid blue

    input, textarea
        display: block
        width: 100%
        resize: none

        &.invalid
            box-shadow: 0 0 10px red !important