#chapter
    input:not([disabled]), textarea:not([disabled])
        box-shadow: 0 0 10px blue !important

        &:focus
            outline: 1px solid blue

    input, textarea
        display: block
        width: 100%
        resize: none

        &.invalid
            box-shadow: 0 0 10px red !important

    // stili standard
    .mini
        margin: 0 2rem
        color: black
        background: white
        border: 0.2rem solid black
    .mini-right
        margin-left: 4rem
        color: black
        background: white
        border: 0.2rem solid black
    .mini-left
        margin-right: 4rem
        color: black
        background: white
        border: 0.2rem solid black
                
    // fumetto
    .comix-right
        width: fit-content
        max-width: 100%
        margin-left: auto
        border-width: 0.1rem 
        border-radius: 1.5rem
        border-top-right-radius: 0
    .comix-left
        width: fit-content
        max-width: 100%
        margin-right: auto
        border-width: 0.1rem 
        border-radius: 1.5rem
        border-top-left-radius: 0

    .full-main
        margin: 0 0.5rem
        padding-bottom: 2rem
        color: black
        background: white
        border: 0.2rem solid black
    .full-foot
        margin-left: 2rem
        margin-right: 4rem
        color: black
        background: white
        border: 0.2rem solid black
        transform: translateY(-2rem)