#SectionComponent
    input, textarea
        display: block
        width: 100%
        resize: none

        &.invalid
            box-shadow: 0 0 10px red !important

    // SPAZIATURA
    .destra 
        width: fit-content
        max-width: 100%
        margin-left: auto

    .sinistra 
        width: fit-content
        max-width: 100%
        margin-right: auto

    .centro
        width: fit-content
        max-width: 100%
        margin: auto

    div:has(.spazio-schermo)
        padding-bottom: 40dvh

    // FUMETTO DESCRIZIONE
    .descrizione
        color: black
        background: white
        border: 0.2rem solid black
        
    // FUMETTO DIALOGO
    .dialogo
        border-width: 0.1rem 
        border-radius: 40rem
        &.sinistra
            border-top-left-radius: 0
        &.destra
            border-top-right-radius: 0

    // FUMETTO SUSSURRO
    .sussurro
        @extend .dialogo
        border-style: dashed !important

    // FUMETTO ESCLAMAZIONE
    .esclamazione
        padding: 3rem 2rem
        display: flex
        align-items: center
        font-weight: bold
        clip-path: polygon(50% 0%, 58% 18%, 72% 5%, 73% 22%, 92% 14%, 82% 32%, 100% 35%, 82% 45%, 96% 58%, 78% 58%, 88% 80%, 68% 70%, 65% 100%, 50% 82%, 35% 100%, 32% 78%, 12% 86%, 20% 64%, 0% 60%, 18% 45%, 3% 32%, 23% 28%, 14% 8%, 40% 18%)
    