@use "tailwindcss"

html
    scroll-behavior: smooth
    scroll-padding-top: calc(3.5rem + env(safe-area-inset-top))
    scroll-padding-bottom: calc(4rem + env(safe-area-inset-bottom))
    scrollbar-width: thin
    scrollbar-color: rgba(132, 204, 22, 0.5) transparent


button, a
    &:not(:disabled)
        cursor: pointer !important

        &:hover
            filter: brightness(1.3) !important
            transition: filter 0.3s ease-in-out !important

        &:active
            filter: brightness(1.8) !important
            transition: filter 0.2s ease-in-out !important

    &:disabled
        cursor: not-allowed !important
        opacity: 0.8
        filter: grayscale(1)

textarea
    resize: none !important


// HELPERS
.pointler-event-none
    pointer-events: none

// CUSTOM COLOR CLASSES
.text-dark
    color: var(--color-lime-900)
.text-bg-dark
    background-color: var(--color-lime-900)
    color: white
    
.text-tertiary
    color: var(--color-lime-800)
.text-bg-tertiary
    background-color: var(--color-lime-800)
    color: white

.text-primary
    color: var(--color-lime-700)
.text-bg-primary
    background-color: var(--color-lime-700)
    color: white

.text-secondary
    color: var(--color-gray-700)
.text-bg-secondary
    background-color: var(--color-gray-700)
    color: white

.text-danger
    color: var(--color-red-700)
.text-bg-danger
    background: var(--color-red-700)
    color: white

.text-light
    color: var(--color-lime-200)
.text-bg-light
    background-color: var(--color-lime-200)
    color: black


// Scrollbar moderne
::-webkit-scrollbar
    width: 8px
    height: 8px

::-webkit-scrollbar-track
    background: transparent

::-webkit-scrollbar-thumb
    background: rgba(132, 204, 22, 0.5)
    border-radius: 4px

    &:hover
        background: rgba(132, 204, 22, 0.8)

// REGOLE DI STAMPA
@media print
    html:has(#SectionComponent), body:has(#SectionComponent)
        -webkit-print-color-adjust: exact !important
        print-color-adjust: exact !important

    #SectionComponent
        *
            -webkit-print-color-adjust: exact !important
            print-color-adjust: exact !important

    nav, footer, #Navigation, #Bottombar, [aria-label="Breadcrumb"], .print-hidden
        display: none !important

@media print
    html, body
        overflow: hidden !important
        scrollbar-width: none !important

    ::-webkit-scrollbar
        display: none !important