@use "tailwindcss"
:root
    --color-dark: #333

button, a
    &:not(:disabled)
        cursor: pointer !important

        &:hover
            filter: brightness(1.3) !important
            transition: filter 0.3s ease-in-out !important

        &:active
            filter: brightness(1.8) !important
            transition: filter 0.2s ease-in-out !important

    &:disabled
        cursor: not-allowed !important
        opacity: 0.8
        filter: grayscale(1)

textarea
    resize: none !important

i.bi
    text-align: center
    text-align-last: center


// HELPERS
.pointler-event-none
    pointer-events: none

// CUSTOM COLOR CLASSES
.text-primary
    color: var(--color-lime-500)
.text-bg-primary
    background-color: var(--color-lime-500)
    color: black

.text-secondary
    color: var(--color-lime-700)
.text-bg-secondary
    background-color: var(--color-lime-700)
    color: white
    
.text-tertiary
    color: var(--color-lime-800)
.text-bg-tertiary
    background-color: var(--color-lime-800)
    color: white

.text-danger
    color: var(--color-red-500)
.text-bg-danger
    background: var(--color-red-500)
    color: white

.text-light
    color: var(--color-lime-300)
.text-bg-light
    background-color: var(--color-lime-300)
    color: black

.text-neutral
    color: var(--color-gray-600)
.text-bg-neutral
    background-color: var(--color-gray-600)
    color: white

.text-dark
    color: var(--color-dark)
.text-bg-dark
    background-color: var(--color-dark)
    color: white


// Scrollbar moderne
html
    scroll-behavior: smooth
    scroll-padding-top: calc(3.5rem + env(safe-area-inset-top))
    scroll-padding-bottom: calc(4rem + env(safe-area-inset-bottom))
    scrollbar-width: thin
    scrollbar-color: var(--color-lime-700) var(--color-dark)

::-webkit-scrollbar
    width: 8px
    height: 8px

::-webkit-scrollbar-track
    background: var(--color-dark)

::-webkit-scrollbar-thumb
    background: var(--color-lime-700)
    border-radius: 4px

    &:hover
        background: var(--color-lime-700)

// REGOLE DI STAMPA
@media print
    html:has(#SectionComponent), body:has(#SectionComponent)
        -webkit-print-color-adjust: exact !important
        print-color-adjust: exact !important

    #SectionComponent
        *
            -webkit-print-color-adjust: exact !important
            print-color-adjust: exact !important

    nav, footer, #Navigation, #Bottombar, [aria-label="Breadcrumb"], .print-hidden
        display: none !important

@media print
    html, body
        overflow: hidden !important
        scrollbar-width: none !important

    ::-webkit-scrollbar
        display: none !important